* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #edeae5;
  --secondary-color: #3a5b22;
  --main-height: 35px;
  --main-margin: 20px;
  --secondary-margin: 5px;
}
.contaner {
  display: flex;
  height: 700px;
}
.left {
  margin-left: var(--main-margin);
  width: 50%;
  margin-top: var(--main-margin);
  width: 60%;
  padding: 50px 70px;
}
.left h1 {
  margin-bottom: var(--main-margin);
}
.contaner .input {
  margin-top: 20px;
}
.left .input input {
  width: 100%;
  border: none;
  outline: none;
  height: var(--main-height);
  border: 2px solid var(--main-color);
  border-radius: var(--secondary-margin);
}
.policy {
  margin-bottom: var(--secondary-margin);
}
.policy input[type="checkbox"] {
  accent-color: var(--secondary-color); 
}

.signup {
  background-color: var(--secondary-color);
  color: var(--main-color);
  width: 99%;
  border: none;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: var(--secondary-margin);
  margin: 15px var(--secondary-margin);
  height: var(--main-height);
}
.hr {
  margin: var(--main-margin) 0;
}
hr {
  width: 46%;
  display: inline-flex;
}
p {
  display: inline;
}
.with {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  height: var(--main-height);
}
.with button {
  background-color: white;
  border: none;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: var(--secondary-margin);
}
.last {
  margin: var(--main-margin);
  text-align: center;
}
.last a{
text-decoration: none;
color: blue;
}
@media (max-width: 800px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
  }
}

.contaner .right {
  background: url(../a040603d3efd62f9015049ebbc1fe366c78fa658.png);
  background-size: cover;
  background-position: center;
  width: 50%;
}

